@font-face {
  font-family: 'regular';
  src: url('/regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #000000ff;
  background-color: #eeeeeeff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
  width: 70%;
  margin: 2rem auto;
}

label {
  font-weight: 500;
  font-size: 0.9em;
  color: #000000ff;
  background-color: #ff6622ff;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  width: 10em;
  cursor: pointer;
  margin-right: .5em;
}

.filename {
  font-size: 0.9em;
}

input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.button{
  color: #eeeeeeff;
  background-color: #000000ff;
  border-radius: 0.5em;
  padding: 1em 1.5em;
  font-size: 0.9em;
  font-family: 'regular';
}
.button, .disabled{
  color: #eeeeeedd;
  background-color: #000000dd;
}

.form-group {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

/* img */
.letter {
  width: 36px;
  height: 36px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.navigation-text {
  width: 90%;
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
}

.navigate_button {
  width: 5%;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  cursor: pointer;
}

.segment {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.words-wrapper {
  display: grid;
}

.word-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-bottom: 1em;
}
.asl-wrapper {
  display: flex;
  align-items: center;
}
.word {
  margin: 0;
  font-size: 1.1em;
}